body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #333; /* Dark grey background color */
    color: #fff; /* White text color */
}

header {
    text-align: center;
    padding: 20px;
    background-color: #555; /* Slightly lighter grey for header */
}

.intro-section,
.resume-section,
.projects-section {
    margin-bottom: 20px;
    background-color: #444; /* Medium dark grey for sections */
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h2 {
    color: #3498db; /* Blue text color for section headings */
}

button {
    background-color: #3498db; /* Blue button color */
    color: #fff; /* White text color for button */
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9; /* Darker blue on hover */
}

