/* Reset some basic elements */
body, h1, p, ul, li, a, p2  {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* Basic styling */
body {
    font-family: 'Arial', sans-serif;
    color: #ffffff;
    background-color: #121212; /* Dark background */
    line-height: 1.6;
}

header {
    background: #333; /* Slightly lighter dark shade for the header */
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav a {
    color: #66FCF1; /* Teal accent color */
    padding: 0 2rem;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #0B0C10; /* Dark color for hover effect */
    background-color: #45A29E; /* Teal background on hover */
}

/* Add responsiveness */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    nav a {
        padding: 0.5rem 0;
    }
}


/* Resume page specific styles */

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

h2 {
    background-color: #0B0C10; /* Dark background for headers */
    color: #66FCF1; /* Teal accent color */
    padding: 0.5rem;
    margin-bottom: 1rem;
}

#resume-download button {
    background-color: #66FCF1; /* Teal accent color */
    color: #0B0C10; /* Dark text for button */
    border: none;
    padding: 1rem 2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#resume-download button:hover {
    background-color: #45A29E; /* Darker teal on hover */
}

#resume-image {
    width: 100%; /* Ensures the image is never larger than its container */
    max-width: 800px;
    height: auto; /* Maintains aspect ratio */
    display: block;
    margin: 1rem auto; /* Centers the image and adds space around it */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
    background: #333; /* Matching the header */
    color: #C5C6C7; /* Light grey text color */
    text-align: center;
    padding: 1rem 0;
}
